<div class="container">
  <form class="form-body" [formGroup]="changePassForm" (ngSubmit)="submit(changePassForm)">
    <mat-form-field class="form-input">
      <input matInput formControlName="currentPassword" placeholder="Current Password" type="password">
      <mat-error *ngIf="changePassForm.get('currentPassword').hasError('required')">
        Password is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput formControlName="newPassword" placeholder="New Password" type="password" (input)="changePassForm.get('confirmNewPassword').updateValueAndValidity()">
      <mat-error *ngIf="changePassForm.get('newPassword').hasError('required')">
        New Password is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput formControlName="confirmNewPassword" placeholder="Confirm New Password" type="password" appConfirmEqualValidator="newPassword">
      <mat-error *ngIf="changePassForm.get('confirmNewPassword').hasError('notEquivalent')">
        New Password does not match!
      </mat-error>
    </mat-form-field>
    <button class="form-input" type="submit" mat-flat-button color="primary" [disabled]="!changePassForm.valid">Change Password</button>
  </form>
</div>