.btn-reset {
  margin-left: 6px;
}
  
.filters-header {
  margin-top: 10px;
  margin-left: 50px;
}
  
.label {
  font-size: 15px ;
}

.input-field {
  float: left;
  width: 45%;
  margin-right: 30px;
}

.title {
  color: rgb(145, 75, 10);
}
  