<div>
  <tr>
    <a class="sidenav-list" [routerLink]="['/home']"><mat-icon class="icon" [inline]="true">label</mat-icon>Files Processed</a>
  </tr>
  <tr>
    <a class="sidenav-list" [routerLink]="['/reports-menu']"><mat-icon class="icon" [inline]="true">label</mat-icon>Reports</a>
  </tr>
  <tr>
    <a class="sidenav-list" [routerLink]="['/account-setting']"><mat-icon class="icon" [inline]="true">label</mat-icon>Account Settings</a>
  </tr>
  <tr>
    <a class="sidenav-list" [routerLink]="['/change-password']"><mat-icon class="icon" [inline]="true">label</mat-icon>Change Password</a>
  </tr>
</div>
