tr {
  height: 30px;
}

.sidenav-list {
  cursor: pointer;
  font-size: 17px;
  color: black;
  position: fixed;
  text-decoration: none;
}

.icon {
  margin-right: 10px;
  font-size:20px;
  vertical-align: bottom;
  padding-left: 5px;
  padding-top: 5px;
}
