.body {
  position: auto;
  height: auto;
  min-height: 82.8vh;
}

.contact{
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}
  
.space{
  margin-right: 15px;
}
    
.btn{
  font-size: 20px;
  background-color: rgb(39,79,145);
  width:300px;
}
  
.space, .title {
  color: rgb(39,79,145); 
}

.title {
  margin-top:20px;
  font-size: 50px;
  text-align:center;
}
