.form-body {
  margin-top: 10px; 
  height: auto;
}
  
.profile-form {
  width: 500px;
  margin: auto;
  text-align: center;
}

.footer {
  margin-bottom: 20px;
  height: 25px;
} 

.profile-input {
  width: 100%;
  margin-bottom: 5px;
}

.btn-cancel {
  background-color: #babdeb;
  font-size: 15px;
  float: left;
}
  
.btn-save {
  float: right;
}
    
.title {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: rgb(39,79,139);
}

.mat-spinner {
  margin-left: 40%;
  margin-right: 50%;
  margin-top: 18%;
  height: 200px;
  width: 200px;
}