.input-form {
  text-align: center;
  margin-top: 100px;
  width: 100%; 
}

.input-field {
  margin-right: 10px;
  padding: 12px 10px;
  width: 300px;
}

.input-field:focus {
  outline: 0;
  border: 1px 0px solid #000000;
}

.btn-send {
  padding: 4px 10px;
}

.msg {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 20px;
}