<div class="container">
  <form *ngIf="showForm; else elseBlock" class="input-form" [formGroup]="emailForm" (ngSubmit)="sendMail(emailForm)">
    <input type="text" class='input-field' matInput formControlName="email" placeholder="Enter your email">
    <button mat-raised-button color="primary" class='btn-send' type="submit" [disabled] ="!emailForm.valid">Send</button>
  </form>
  <ng-template #elseBlock>
    <p class="msg">An email with password reset link is sent to you.</p>
  </ng-template>
</div>
