.body {
  min-height: 82.7vh;
}

.signup-form {
  min-width: 320px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 0 20px;  
}

.signup-input {
  width: 100%;
  margin-bottom: 15px;
}

.sign-up-button {
  width: 100%;
  background-color: rgb(150, 190, 255);
  color: black;
  margin-bottom: 5px;
}

.reg-step1 {
  padding-top: 100px;
}

.title {
  margin-top:20px; 
  color:rgb(4, 49, 121);
}
  