@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
  margin: 0; 
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  height: auto;
  min-height: 70.8vh;
} 

.sidenav {
  width: 220px; 
  background-color: rgba(230,230,250);
  border-width: 0.2ch; 
  height: auto;
}