<div class="container">
  <form class="reset-form" [formGroup]="resetPassForm" (ngSubmit)="reset(resetPassForm)">
    <mat-form-field class="form-input">
      <input matInput formControlName="password" placeholder="Password" type="password" (input)="resetPassForm.get('confirmPass').updateValueAndValidity()">
        <mat-error *ngIf="resetPassForm.get('password').hasError('required')">
          Password is required!
        </mat-error>
      </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput formControlName="confirmPass" placeholder="Confirm Password" type="password" appConfirmEqualValidator="password">
      <mat-error *ngIf="resetPassForm.get('confirmPass').hasError('notEquivalent')">
        Password does not match!
      </mat-error>
    </mat-form-field>
    <button class="form-input" type="submit" mat-flat-button color="primary" [disabled]="!resetPassForm.valid">Reset</button>
  </form>
</div>